*{
    font-family: 'Inspiration', cursive;
    margin:0;
    padding:0;
    font-weight: 100;
}

body{
    background:#303041;
    color:white;
}

#main{
    display: flex;
    flex-direction: column;
    width:100vw;
    height:100vh;
}

header, .content, aside, footer{
    padding:20px;
}

.header{
    background: #3d3a50;
    flex-basis:50px;

}

.content{
    background:#f4fcfe;
    color:#000;
    flex: 2 0 300px;
   
}

.aside{
    background:#0ea2f6;
    color:#fcf;
    flex: 1 0 150px;
   
}

.footer{
    background:#3d3a50;
    flex:1;
}

@media  screen and (min-width:700px) {
    #main{
        display:grid;
        grid-template-rows: 60px 1fr 1fr 1fr 1fr 60px;
        grid-template-columns: repeat(3,1fr);
    }
    .header{
        grid-column:1/span 3;
    }
    .content{
        grid-column:1/span 2;
        grid-row: 2/ span 6;
    }
    .aside{
        grid-column:3/4;
        grid-row: 2/ span 6;
    }

    .footer{
        grid-column:1/span 3;
        grid-row:  6/  7;
    }
}   

